<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:xmlns="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layout-page-admin}">

</html>

<head>
    <title>list-product</title>
    <style>

    </style>
</head>

<body>
    <div class="app">
        <div layout:fragment="content">
            <div>
                <table class="table table-striped">
                    <tr>
                        <th>Tên xe</th>
                        <th>Kích cỡ</th>
                        <th>Trọng lượng tối đa</th>
                        <th>Vận tốc tối đa</th>
                        <th>Trọng lượng xe</th>
                        <th>Acquy</th>
                        <th>Quãng đường di chuyển</th>
                        <th>Số lượng</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>