<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:xmlns="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layout-page-admin}">

</html>

<head>
    <title>add-product</title>
    <style>

    </style>
</head>

<body>
    <div class="app">

        <div layout:fragment="content" class="content d-flex justify-content-center">
            <form action="#" th:action="@{/admin/products}" class="form w-75 mt-5 d-flex flex-column justify-content-center align-items-center"
                method="post" enctype="multipart/form-data" th:object="${product}">
                <div class="row justify-content-center w-75">
                    <div class="col col-8 ">
                        <div class="input-group mb-2">
                            <span class="input-group-text">Tên xe</span>
                            <input class="form-control" type="text" placeholder="Tên xe" name="name" id="name" th:field="*{name}">
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                        </div>
                        <div class="row mb-2">
                            <div class="input-group col">
                                <span class="input-group-text">Chiều Dài(mm)</span>
                                <input class="form-control" type="number" name="chieuDai" id="chieuDai" th:field="*{length}">
                            </div>
                            <div class="input-group col">
                                <span class="input-group-text">Chiều rộng(mm)</span>
                                <input class="form-control" type="number" name="chieuRong" id="chieuRong" th:field="*{width}">
                            </div>
                            <div class="input-group col">
                                <span class="input-group-text">Chiều cao(mm)</span>
                                <input class="form-control" type="number" name="chieuCao" id="chieuCao" th:field="*{height}">
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <span class="input-group-text">Trọng lượng(kg)</span>
                            <input class="form-control" type="number" name="" id="" th:field="*{weight}">
                        </div>
                        <div class="input-group mb-2">
                            <span class="input-group-text">Tải trọng(kg)</span>
                            <input class="form-control" type="number" name="" id="" th:field="*{maximumLoad}">
                        </div>
                        <div class="input-group mb-2">
                            <span class="input-group-text">Acquy</span>
                            <input class="form-control" type="number" name="" id="" th:field="*{battery}">
                        </div>
                        <div class="row mb-2">
                            <div class="input-group col">
                                <span class="input-group-text">Thời gian sạc: </span>
                            </div>
                            <div class="input-group col">
                                <span class="input-group-text">từ </span>
                                <input class="form-control" type="number" name="thoiGianSacMin" id="thoiGianSacMin" th:field="*{minimumChargingTime}">
                            </div>
                            <div class="input-group col">
                                <span class="input-group-text">đến</span>
                                <input class="form-control" type="number" name="thoiGianSacMax" id="thoiGianSacMax" th:field="*{maximumChargingTime}">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="input-group col">
                                <span class="input-group-text">Vận tốc xe (km/h): </span>
                            </div>
                            <div class="input-group col">
                                <span class="input-group-text">từ</span>
                                <input class="form-control" type="number" name="" id="" th:field="*{minimumMaximumSpeed}">
                            </div>
                            <div class="input-group col">
                                <span class="input-group-text">đến</span>
                                <input class="form-control" type="number" name="" id="" th:field="*{maximumMaximumSpeed}">
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <span class="input-group-text">Quảng đường đi được (km)</span>
                            <div class="input-group col">
                                <span class="input-group-text">từ</span>
                                <input class="form-control" type="number" name="" id="" th:field="*{distanceMin}">
                            </div>
                            <div class="input-group col">
                                <span class="input-group-text">đến</span>
                                <input class="form-control" type="number" name="" id="" th:field="*{distanceMax}">
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <span class="input-group-text">Giá xe</span>
                            <input class="form-control" type="number" name="" id="" th:field="*{price}">
                        </div>
                        <select  class="form-select mb-2" th:field="*{manufacturerId}">
                            <option value="0" selected>Nhà sản xuất</option>
                            <option th:each="manufacturer : ${manufacturers}"  th:value="${manufacturer.id}" th:text="${manufacturer.name}"></option>
                        </select>


                    </div>
                    <div class="col col-4 row flex-column align-items-center justify-content-center">
                        <div class="wrap-image d-flex justify-content-center mb-3">
                            <img id="image" src="" th:src="@{/image/default-image.jpg}" alt="" class="rounded product-image w-75">
                        </div>
                        <div class="input-group input-choose-img mb-3 w-75">
                            <input type="file" class="form-control" name="imageFile" id="imageFile">
                        </div>
                    </div>
                </div>

                <div class="w-50 align-self-center">
                    <button type="submit" class="btn btn-primary w-100">Save</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        document.getElementById('imageFile').onchange = function (evt) {
            var tgt = evt.target || window.event.srcElement,
                files = tgt.files;

            // FileReader support
            if (FileReader && files && files.length) {
                var fr = new FileReader();
                fr.onload = function () {
                    document.getElementById("image").src = fr.result;
                }
                fr.readAsDataURL(files[0]);
            }

            // Not supported
            else {
                // fallback -- perhaps submit the input to an iframe and temporarily store
                // them on the server until the user's session ends.
            }
        }
    </script>
</body>

</html>